body{
    background-color: #2b9099;
}
header{
    background-color:#77b849;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 17px 0px 0px rgb( 21, 72, 77 );
    -webkit-box-shadow: 0px 16.454px 0px 0px rgb( 21, 72, 77 );
}
.garis{
    border-top: 3px dashed #fff;
    border-bottom: 3px dashed #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
header p{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#f8f8f8;
    font-size:18px;
    line-height: 1.3;
}
header h1{
    letter-spacing: 10px;
    line-height: 100px;
    margin:0;
    font-size: 5em;
    font-weight: 700;
    color:#f8f8f8;
    text-shadow: 0px 5px 0px #77b849, 0px 10px 0px rgba(0, 0, 0, 0.15);
    -webkit-text-shadow: 0px 5px 0px #77b849, 0px 10px 0px rgba(0, 0, 0, 0.15);
    line-height: 1.3;
} 
table{
    background-color: #fff;
    color: #212121;
}
footer{
    margin-top: 50px;
    border-top: 1px solid #227880;
    padding-top: 20px;
    color: #fff;
} 
.table-responsive{
   color: #fff;
}
#box-btn{
    width: 200px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
.btn-custom{
    font-size: 20pt;
    font-weight: 700;
    border-radius: 0;
    width: 100%;
    height: 50px;
    border-bottom: 5px;
    background-color: #77b849;
    border-bottom: 5px solid #568535;
    -webkit-border-bottom: 5px solid #568535;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.btn-custom:hover, .btn-custom:focus{
    background-color: #6ca642;
    border-bottom: 5px solid #568535;
}
.btn-custom:active{
    border-bottom: 5px solid #6ca642;
}
.form-control{
    border-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
    border: 1px solid #bdbdbd;
    border-bottom: 5px solid #bdbdbd;
    -webkit-border-bottom: 5px solid #bdbdbd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0;
    border: 1px solid #bdbdbd;
    border-bottom: 5px solid #bdbdbd;
    -webkit-border-bottom: 5px solid #bdbdbd;
}
.pagination>li>a{
    border-bottom: 5px solid #bdbdbd;
    -webkit-border-bottom: 5px solid #bdbdbd;
}
.pagination>.active>a, .pagination>.active>a:hover{
    border-bottom: 5px solid #336b9c;
    -webkit-border-bottom: 5px solid #336b9c;
}