header{
    background-color:#428bca;
    margin-bottom: 50px;
    padding-top:2em;
    padding-bottom:2em;
}
header p{
    border-top: 1px #f8f8f8 solid;
    border-bottom: 1px #f8f8f8 solid;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#f8f8f8;
    font-size:18px;
}
header h1{
    letter-spacing: 10px;
    line-height: 100px;
    margin:0;
    font-size: 5em;
    font-weight: 700;
    color:#f8f8f8;
    text-shadow: 0px 8px 0px #357ebd, 0px 15px 0px rgba(0, 0, 0, 0.15);
}
table {
    table-layout:fixed;
}
.div-table-content {
  height:200px;
  overflow-y:auto;
}
.table{
    margin-bottom: 0;
}